.actions-bar {
	background: #efefef;
	position: absolute;
	width: 100%;
	height: 50px;
	line-height: 50px;
	top: 0;
	left: 0;
	z-index: 1;

	a {
		margin: 0 1em;

		i {
			font-size: 2em;
			vertical-align: middle;
		}
	}
}
