$font-stack: Helvetica Neue, sans-serif;

/* Colors */
$white: #fff;
$orange: #e28327;
$green: #659f13;
$light-grey: #f0f0f0;

$border-color: #ddd;
$shadow-color: #8f8f8f;

/* Layout */
$bar-height: 3.125em;
$sidebar-max-width: 360px;
$max-content-width: 640px;
