@import './mixins';
@value barHeight, lightGrey, sidebarMaxWidth, maxContentWidth from './variables';

.wholeWrap {
	position: relative;
	height: 100vh;
	max-height: 100vh;
	padding-top: barHeight;
	overflow: hidden;
}

.mainInit {
	text-align: center;
	height: 100%;
	line-height: calc(100vh - 80px);
	overflow: hidden;

	> i {
		font-size: 8em;
		color: lightGrey;
		vertical-align: middle;
	}
}

.content {
	position: relative;
	padding-bottom: 1em;
	height: 100%;
	overflow-y: scroll;
}

.single-article {
	header {
		margin-bottom: 1.25em;
	}
}

@media (min-width: 1020px) {
	.content {
		margin-left: sidebarMaxWidth;
		padding-left: 20px;

		.inside {
			max-width: maxContentWidth;
		}
	}
}
