@import 'normalize.css';
@import 'base.css';
@import 'typography.css';

@value bar-height from './variables.css';
@value light-grey from './variables.css';

.whole-wrap {
	position: relative;
	height: 100vh;
	max-height: 100vh;
	padding-top: bar-height;
	overflow: hidden;
}

.main-init {
	text-align: center;
	height: 100%;
	line-height: calc( 100vh - 80px );
	overflow: hidden;

	> i {
		font-size: 8em;
		color: light-grey;
		vertical-align: middle;
	}
}
