@import 'common/normalize';
@import 'common/variables';
@import 'common/base';
@import 'common/typography';

.whole-wrap {
	position: relative;
	height: 100vh;
	max-height: 100vh;
	padding-top: $bar-height;
	overflow: hidden;
}

.main-init {
	text-align: center;
	height: 100%;
	line-height: calc( 100vh - 80px );
	overflow: hidden;

	> i {
		font-size: 8em;
		color: $light-grey;
		vertical-align: middle;
	}
}
