@import 'common/mixins';
@value barHeight, borderColor, sidebarMaxWidth, white, shadowColor from '../common/variables';

.sidebar {
	position: absolute;
	z-index: 2;
	top: barHeight;
	bottom: 0;
	width: 100%;
	max-width: sidebarMaxWidth;
	padding-top: 3em;
	overflow: hidden;
	transform: translate3d(-100%, 0, 0);
	transition: all .5s;

	.inside {
		background: white;
		position: relative;
		height: 100%;
		overflow-y: scroll;

		@mixin scrollbars 3px, #d2d2d2, none;
	}

	&.is-visible {
		transform: translate3d(0, 0, 0);
		box-shadow: 1px 2px 5px shadowColor;
	}

	ul {
		list-style: none;
		margin: 0;
	}

	i {
		margin-right: .25em;

		&::before {
			width: 1.5em;
		}
	}

	.placeholder {
		font-style: italic;
	}
}

@media (min-width: 1020px) {
	.sidebar {
		width: sidebarMaxWidth;
		transform: none;

		.inside {
			background: #fafafa;
			border-right: 1px solid borderColor;
		}

		&.is-visible {
			box-shadow: none;
		}
	}
}
